@import "tailwindcss";

@theme {
    --font-redaction: "Redaction", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction/Redaction_50-Regular.woff2') format('woff2');
  font-weight: 50;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction/Redaction_20-Regular.woff2') format('woff2');
  font-weight: 20;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction/Redaction_70-Regular.woff2') format('woff2');
  font-weight: 70;
  font-style: normal;
}

@font-face {
  font-family: 'Redaction';
  src: url('./fonts/Redaction/Redaction_10-Regular.woff2') format('woff2');
  font-weight: 10;
  font-style: normal;
}

@layer components {
  .About-wrapper {
    @apply grid grid-cols-6 pt-0 sm:pt-5 h-[60vh] sm:h-[80vh] overflow-y-auto;
    scrollbar-width: none; /* Firefox */
  }
  .About-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Edge, Safari */
  }
  .InfoColumn-wrapper {
    @apply col-span-1 break-words h-[80vh] overflow-y-auto;
    scrollbar-width: none; /* Firefox */
  }
  .InfoColumn-wrapper::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
  .ProjectOverview-wrapper {
    @apply grid grid-cols-2 sm:grid-cols-5 gap-2 pt-1 pb-5;
  }
  .ProjectOverview-title {
    @apply col-span-2 sm:col-span-1;
  }
  .ProjectOverview-tags {
    @apply col-span-2 sm:col-span-1;
  }
  .ProjectDetails-wrapper {
    @apply grid grid-cols-2 sm:grid-cols-5 gap-2;
  }
  .ProjectDetails-description {
    @apply col-span-2 pb-5 sm:pb-0 sm:col-span-1;
  }
  .ProjectExtLinks-titles-wrapper {
    @apply grid grid-cols-2 sm:grid-cols-5 gap-2;
  }
  .ProjectExtLinks-content-wrapper {
    @apply grid grid-cols-2 sm:grid-cols-5 gap-2 pb-5;
  }
  .ProjectExtLinks-content-column {
    @apply col-span-1 text-wrap wrap-break-word max-h-[30vh] overflow-y-auto; 
    scrollbar-width:none; /* Firefox */
  }
  .ProjectExtLinks-content-column::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
  .AnAmalgamParadigm_title-wrapper {
    @apply w-screen min-h-[100vh] md:min-h-[90vh] flex items-center justify-center bg-center bg-cover text-center -mx-3 -mt-20 md:mt-0;
    background-image: url('../img/AnAmalgamParadigm/Publication/publication_cover.png');
  }
  .AnAmalgamParadigm_title {
    @apply text-4xl md:text-6xl md:max-w-[60vw] [-webkit-text-stroke:1px_black] dark:[-webkit-text-stroke:1px_white] wrap-break-word sm:text-pretty ;
    font-family: 'Redaction', sans-serif;
    font-weight: 20;
    overflow-wrap: break-word;
  }
  .AnAmalgamParadigm_subtitle{
    @apply text-2xl md:text-4xl md:max-w-[60vw] [-webkit-text-stroke:1px_black] dark:[-webkit-text-stroke:1px_white] leading-6 md:leading-8  pb-10;
    font-family: 'Redaction', sans-serif;
    font-weight: 50;
  }
  .AnAmalgamParadigm_sectionWrapper{
    @apply grid sm:grid-cols-4;
  }
  .AnAmalgamParadigm_sectionTitle{
    @apply sticky top-12 sm:top-3 mix-blend-difference [-webkit-text-stroke:2px_white] text-white grayscale text-2xl sm:text-3xl indent-2;
  }
  .AnAmalgamParadigm_sectionTextWrapper{
    @apply pt-20 pb-30 text-lg text-pretty;
  }
  .AnAmalgamParadigm_image{
    @apply object-cover border border-black dark:border-white;
  }
  .AnAmalgamParadigm_imageDescription{
    @apply text-xs text-neutral-400 pt-2;
  }
  .AnAmalgamParadigm_notesWrapper{
    @apply py-20 text-sm;
  }
  .AnAmalgamParadigm_biblioraphy_sectionWrapper{
    @apply h-[60vh] overflow-y-auto text-wrap wrap-break-word pl-8;
    scrollbar-width: none; /* Firefox */
  }
  .AnAmalgamParadigm_biblioraphy_sectionWrapper::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
  }
}

a:hover {
  text-decoration-line: underline;  
}

button:hover {
  cursor: pointer;
}

/* Hides the arrow in most modern browsers */
summary::marker {
  content: "" !important;
  display: none !important;
}

/* Hides the arrow in Safari and older Chrome versions */
summary::-webkit-details-marker {
  display: none !important;
}

/* Optional: Ensure the summary behaves like a block for layout */
summary {
  list-style: none !important;
}